<h1>About Us Page</h1>

<h4>This is just a little bit information about me...</h4>

<h4>I am a student at Durham College taking the Computer Programming and analysis course.</h4>
<img src="/images/personal2.jpeg" width="200" height="200" alt="DurhamCollege"/>

<h4>I am a Computer Programmer experienced in various languages which help me build skills for <br/>
    creating websites and applications that people can use.</h4>
<img src="/images/aboutus.jpg" width="200" height="200" alt="Me"/>
