<h1>Projects Page</h1>

<h4>As a Programming student in Durham college, we are usually given projects to practice <br/>
    our knowledge from all that we learn in class.</h4>
<h4>Here are some projects I have created: </h4>

<h4> I have created a website for a company to use to keep track of calls taken by their staff.</h4>
<img src="/images/websites.jpg" width="200" height="200" alt="Website"/>
<p>Currently do not have a picture of the actual one.</p>

<h4>Using Common Business Oriented Language, I created a program that takes inputs from a file, <br/>
    performs some calculation on it and outputs it to a report file in a more presentable manner <br/>
    for non developers to access. </h4>
<img src="/images/cobolimage.png" width="200" height="200" alt="Cobol"/>