<h1>Services Page</h1>
<br/>
<h4>As a Programming Student, there are various services I can provide to various prospective clients.</h4>

<h4>I am able to create websites that clients can use for promoting businesses. </h4>
<img src="/images/websites.jpg" width="300" height="300" alt="Websites"/>

<br/>
<h4>I am also able to use my skills with databases to create a database with several collections under which
interconnect and work hand in hand with websites. </h4>
<img src="/images/database.jpg" width="300" height="300" alt="databases"/>